<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.AceCoding.projectexample"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Ninja Run</name>

  <description>
      NINJA RUN!
      Tap to jump and avoid spikes.
      Get as many points as you can
  </description>

  <author href="https://build.phonegap.com" email="kingandwealth@gmail.com">
      AceCoding
  </author>

<icon src="icon.png" />

</widget>